
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.centrado{
    height:100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    overflow: hidden;
}

/* styles.css */
body {
    cursor: none; /* Oculta el cursor predeterminado */
}

.custom-cursor {
    position: absolute;
    width: 25px; /* Ancho del rectángulo */
    height: 15px; /* Alto del rectángulo */
    background-color: #00BFFF; /* Color celeste */
    pointer-events: none; /* Evita que el cursor interfiera con otros elementos */
    z-index: 1000; /* Asegura que el cursor esté por encima de otros elementos */
    transition: transform 0.1s ease-out; /* Para la inclinación del cursor */
    box-shadow: 0 0 10px 5px rgba(0, 191, 255, 0.5); /* Estela de luz */
}
#canvas {
  position: relative;
  background-image: url(img\background1.jpg);
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  
}

#canvas-container {
  position: relative;
  
  width: 80%;
  height: 80%;
  background-image: url('img\background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.trail {
    position: absolute;
    width: 25px;
    height: 15px;
    background-color: #00BFFF;
    opacity: 0.5;
    pointer-events: none;
    z-index: 999;
    transition: transform 0.1s ease-out, left 0.1s, top 0.1s;
    box-shadow: 0 0 10px 5px rgba(144, 199, 218, 0.5); /* Estela de luz */
}

